@use "./../../utils/styles.scss" as *;
html {
  background-color: rgb(248, 248, 188);
}
.form-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 248, 188);

  &__heading {
    font-family: $another-font;
  }
  &__element {
    padding-left: 10px;
    border-radius: 10px;
    font-family: $another-font;
    margin-top: 10px;
    display: flex;
    background-color: white;
    justify-items: center;
    width: 200px;

    &--amount {
      padding-left: 10px;
      border-radius: 10px;
      font-family: $another-font;
      margin-top: 10px;
      display: flex;
      background-color: white;
      justify-items: center;
      width: 185px;
    }
  }

  &__button {
    border: none;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    font-family: $primary-font;
    font-weight: 700;
    margin-top: 20px;
  }
}
